@import url('../common.css');
@import url('../include.css');
@import url('main-tablet.css');

/* 큰 와이드 화면에 1980해상도 */

#product-overview {
  background: url('LESSERAFIM.jpg')
     no-repeat center / cover;
  height: calc(100vh - 97px);
}


/* choose plan style */

#plans {
  margin: 100px auto;
  color: #fff;
  font-family: "Noto Sans KR", sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
section .section-title {
  color: #000;
  font-weight: 700;
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
}

#plans .plan-wrapper {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
#plans .plan-wrapper .plan {
  width: 32%;
  background: #444;
  padding: 16px 0;
  /* border-radius: 20px 0 20px 0; */
  border-radius: 20px;
}

#plans .plan-wrapper .plan--highlighted {
  background: #000;
  box-shadow: 0 0 10px rgba(0,0,0, 0.8);
}
#plans .plan-wrapper .plan--highlighted .plan__annotation {
  background: #fff;
  color: #000;
  padding: 8px;
  border-radius: 7px;
  box-shadow: 0 0 5px rgba(0,0,0, 0.8);
}

.plan h3,
.plan h4,
.plan h5 {
  font-weight: 700;
  font-size: 1.2em;
  margin: 25px 0;
}

#plans .plan-wrapper .plan .plan__price {
  font-size: 1.5em;
  color: #ccc;
}
#plans .plan-wrapper .plan .plan__features {
  margin-top: 30px;
}
#plans .plan-wrapper .plan .plan__feature {
  margin-bottom: 12px;
}

#plans .plan-wrapper .plan .btn-group {
  margin: 20px 0;
}
/* key features style */
#key-features {
  background: #ff1b68;
  padding: 40px;
  text-align: center;
  color: #fff;
}

#key-features .section-title {
  color: inherit;
  margin-bottom: 30px;
  
}

#key-features .key-feature__list{
  display: flex;
  align-items:center;
  
  justify-content: center;
  
  

}
#key-features .key-feature__list .key-feature{
  /* border: 2px solid #000; */
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 20px 10px;
}

#key-features .key-feature__list .key-feature__image
{
  background: #fff;
  width: 128px;
  height: 128px;
  border-radius: 50%;
  border: 2px solid #000;
  margin-bottom: 20px;
}

#key-features .key-feature__list .key-feature__description{
  font-weight: 700;
  font-size: 23px;

}

@media screen and (max-width:1024px) {
  #product-overview{
    /* 띄어쓰기필수 */
    height: calc(50vh - 97px);
  }

  #plans .plan-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
#plans .plan-wrapper .plan--highlighted{
  order: -1;
}
#plans .plan-wrapper .plan{
  width: 70%;
}

#plans .plan-wrapper .plan .plan__features{
  display: none;
}


  
}


